.api-mate-results {
  clear: both;
  overflow: hidden; }
  .api-mate-results .api-mate-link-wrapper {
    clear: both;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 2px; }
  .api-mate-results .api-mate-link {
    padding: 2px 5px;
    border-left: 7px solid #3A87AD;
    white-space: nowrap;
    line-height: 18px;
    font-size: 13px;
    word-break: normal; }
    .api-mate-results .api-mate-link .label {
      float: left;
      font-size: 10px;
      margin: 2px 5px 0 0; }
      .api-mate-results .api-mate-link .label.disabled {
        opacity: 0.5;
        background: #888; }
    .api-mate-results .api-mate-link.expanded {
      word-break: break-all;
      white-space: normal;
      padding: 5px; }
      .api-mate-results .api-mate-link.expanded .api-mate-method-name {
        display: block;
        margin-bottom: 5px; }
  .api-mate-results .api-mate-url-standard {
    border-color: #3A87AD; }
    .api-mate-results .api-mate-url-standard .label {
      background: #54a2c6; }
  .api-mate-results .api-mate-url-recordings {
    border-color: #468847; }
    .api-mate-results .api-mate-url-recordings .label {
      background: #58a958; }
  .api-mate-results .api-mate-url-from-mobile {
    border-color: #f89406; }
    .api-mate-results .api-mate-url-from-mobile .label {
      background: #faa937; }
  .api-mate-results .api-mate-url-custom-call {
    border-color: #B94A48; }
    .api-mate-results .api-mate-url-custom-call .label {
      background: #c76e6d; }
  .api-mate-results .api-mate-method-name {
    white-space: nowrap; }
  .api-mate-results.updated .api-mate-result-title {
    color: #EE5F5B; }
  .api-mate-results.updated .api-mate-link {
    border-color: #EE5F5B; }
    .api-mate-results.updated .api-mate-link .label {
      background: #EE5F5B; }
