#menu-server.disconnected
  .section-title
    | Server
    .connected-label Connected
    .disconnected-label Disconnected
  #menu-server-panel
    .form-group
      .input-group
        input#input-server-url.form-control.input-sm(type='text', value='http://localhost:3000', placeholder='Url (e.g http://192.168.0.100:3000)', data-events-server='url')
        .input-group-btn
          #input-server-connect.btn.btn-sm.btn-primary(data-events-server-connect="") Connect

#menu-configs
  .section-title Configurations
  #menu-vars-panel
    .form-group
      label(for='input-name')
        code Exclude patterns
      - content = '"name":"BbbPubSubPingMessage"\n"name":"BbbPubSubPongMessage"\n"name":"bbb_apps_is_alive_message"'
      textarea#input-config-meeting-id.form-control.input-sm(rows='2', placeholder='assign_presenter_request_message', data-events-config='exclude')= content
    //- .form-group
    //-   input#input-var-meeting-id.form-control.input-sm(type='text', placeholder='meeting ID', data-events-var='meeting_id')

#menu-templates
  .form-group
    input#input-filter.form-control.input-sm.input-clean-title(type='text', value='', placeholder='Templates (type to search...)', autofocus='autofocus', data-events-search-input='')
   - each event in events
    .events-template(data-events-template="")
      .event-name= event["header"]["name"]
      code.event-json(data-events-template-content="")
        = JSON.stringify(event)
