extends application

append content

  #content.row.tab-content
    #menu.col-sm-4
      include _menu

    #tab-all.col-sm-8.tab-pane.active
      #api-mate-results

    #tab-config-xml.col-sm-8.tab-pane
      include _tab_config_xml

    #post-response-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header.alert
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
              &times;
            h4 Response
          .modal-body
