extends application

append stylesheets
  link(href="api_mate.css", media="all", rel="stylesheet", type="text/css")
append javascripts
  script(type="text/javascript", src="api_mate.js")

append content

  #content.row.tab-content
    #menu.col-xs-7.col-sm-5
      include _menu

    #tab-all.col-xs-5.col-sm-7.tab-pane.active
      #api-mate-results

    //- #tab-config-xml.col-sm-8.tab-pane
    //-   include _tab_config_xml

    #post-response-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header.alert
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
              | &times;
            h4 Response
          .modal-body
