doctype html
html(lang="en")
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    title API Mate
    link(href="vendor/bootstrap.min.css", media="all", rel="stylesheet", type="text/css")
    block stylesheets
  body
    #content-wrapper

      #github-banner
        a(href="https://github.com/mconf/api-mate")
          img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

      header#page-header-wrapper.navbar
        .row-fluid
          #page-header.col-xs-12.col-sm-12
            .logo
              h1 API Mate
              .description
                | A tool to access the API of BigBlueButton and Mconf

      #page-header-bottom.row
        .col-sm-12
          .docs
            span
              | API docs:
            a(href='http://docs.bigbluebutton.org/') BigBlueButton
            a(href='https://github.com/mconf/wiki/wiki/Mconf-Live-API') Mconf-Live

        //- ul#nav.nav.nav-tabs
        //-   li.active
        //-     a(href='#tab-all', data-toggle='tab')= "All API methods"
        //-   li
        //-     a(href='#tab-config-xml', data-toggle='tab')= "config.xml utility"

      block content

    #footer.row
      .thanks.col-sm-6
        = 'Thanks to the original idea from '
        a(href='http://www.omarshammas.com/bbbapibuddy') API Buddy
        = '!'
        i.glyphicon.glyphicon-thumbs-up
      .experimental.col-sm-6
        a(href='redis_events.html') Redis Events
        span= " (experimental)"

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript", src="vendor/bootstrap.min.js")
    script(type="text/javascript", src="vendor/underscore-min.js")
    script(type="text/javascript", src="vendor/mustache.js")
    script(type="text/javascript", src="vendor/crypto-sha1-2.5.3.js")
    script(type="text/javascript", src="vendor/bigbluebutton-api.js")
    block javascripts

    | <script>
    |   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    |   ga('create', '#{analytics}', 'auto');
    |   ga('send', 'pageview');
    | </script>
