extends application

append stylesheets
  link(href="redis_events.css", media="all", rel="stylesheet", type="text/css")
append javascripts
  script(type="text/javascript", src="redis_events.js")

append content

  #content.row.tab-content
    #menu.col-sm-4
      include _menu_events

    #tab-all.col-sm-8
      .section-title
        | Publish message ... to chanel ...
      .form-group.event-out-content
        textarea#input-event-out-content.form-control.input-sm(rows='3', data-events-out-content="")
      .form-group
        input#input-event-out-channel.form-control.input-sm(type='text', placeholder='to-bbb-apps', data-events-out-channel="")
      .form-group.event-out-pretty
        input#input-event-out-pretty.form-control.input-sm(type='checkbox', data-events-out-pretty="")
        label(for='input-event-out-pretty') pretty
      .form-group.event-out-submit
        button#input-event-out-submit.btn.btn-xs.btn-primary(type='submit', data-events-out-submit="")
          | Send event

      .section-title Event stream
      ul#events-results
