@import "application.scss";

$font-size: 14px;

.api-mate-results {
  clear: both;
  overflow: hidden;

  .api-mate-link-wrapper {
    clear: both;
    width: 100%;
    //border-top: 1px solid #eee;
    padding: 4px 0;
  }

  .api-mate-link {
    padding: 2px;
    white-space: nowrap;
    line-height: 18px;
    font-size: $font-size - 1px;
    word-break: normal;

    .label {
      font-size: $font-size - 2px;
      margin: 2px 5px 0 0;

      &.disabled {
        opacity: 0.5;
        background: #888;
      }
    }

    &.expanded {
      word-break: break-all;
      white-space: normal;
      padding: 5px;
      .api-mate-method-name {
        display: block;
        margin-bottom: 5px;
      }
    }

    i {
      display: none;
      float: left;
      margin-right: 5px;
      margin-top: 1px;
      font-size: 15px;
    }
  }

  .api-mate-url-standard {
    border-color: #3A87AD;
    .label {
      background: lighten(#3A87AD, 10);
    }
    i { color: #3A87AD; }
  }
  .api-mate-url-recordings {
    border-color: #468847;
    .label {
      background: lighten(#468847, 10);
    }
    i { color: #468847; }
  }
  .api-mate-url-from-mobile {
    border-color: #f89406;
    .label {
      background: lighten(#f89406, 10);
    }
    i { color: #f89406; }
  }
  .api-mate-url-custom-call {
    border-color: #B94A48;
    .label {
      background: lighten(#B94A48, 10);
    }
    i { color: #B94A48; }
  }

  .api-mate-method-name {
    white-space: nowrap;
  }

  &.updated {
    .api-mate-result-title {
      color: #EE5F5B;
    }
    .api-mate-link {
      i { color: #EE5F5B; }
      .label { background: #EE5F5B; }
      .api-mate-method-name { color: #EE5F5B; }
    }
  }

  .label-title {
    margin-top: 0;
    font-size: 10px;
    float: right;
    margin-top: 10px;
  }
}
