$font-size: 14px;

body {
  overflow-x: hidden;
}

#page-header-wrapper {
  border: 0;
  border-radius: 0;
  background: #333;
  color: #eee;
  margin-bottom: 0;
}

#page-header-bottom {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 4px 16px;
  margin-bottom: 20px;

  .docs {
    font-size: $font-size;
    * {
      margin-right: 10px;
    }
  }
}

#page-header {
  padding: 15px;
  margin: 0;

  h1 {
    float: left;
    font-weight: bold;
  }

  .logo {
    float: left;

    h1 {
      margin: 0;
      margin-right: 10px;
      display: block;
    }

    .description {
      display: block;
      clear: both;
      white-space: nowrap;
      color: #aaa;
    }
  }

}

#nav {
  padding: 0 20px;

  // make it smaller than originally in bootstrap
  > li > a {
    padding: 5px 10px;
  }
}

#github-banner, #github-banner * {
  z-index: 9999;
  img {
    width: 165px;
  }
}

#content {
  width: auto;
  padding: 0;
  margin: 0 0 30px 0;
}

#footer {
  border-top: 1px dashed #ccc;
  padding: 10px 16px;
  margin: 0 20px 10px 20px;

  .thanks {
    .glyphicon {
      margin-left: 5px;
    }
  }

  .about {
    text-align: right;
  }
}
@media(max-width:767px) {
  #footer {
    .thanks { text-align: center; }
    .about { text-align: center; }
  }
}

#options {
  margin-bottom: 15px;

  #options-buttons {
    float: left;
  }

  #options-view-type {
    float: right;
    white-space: nowrap;

    input {
      margin: -2px 5px 0 0;
    }
  }

  #options-view-type button {
    .glyphicon {
      margin-right: 5px;
      display: none;
    }
    &.active .glyphicon { display: inline-block; }
  }
}

#menu {

  #menu-server {
    clear: both;
    margin-bottom: 10px;

    .title {
      font-size: 12px;
      padding: 2px 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ddd;
      color: #888;
    }
  }

  #menu-inputs {
    clear: both;

    #input-filter {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      border-bottom-width: 1px;
      box-shadow: none;
    }

    .form-group {
      display: block;
      clear: both;

      .tip {
        float: right;
        font-size: $font-size;
        color: #888;
        margin-top: 3px;
        font-style: italic;
      }

      label {
        font-weight: normal;
      }
    }

    input[type=checkbox] {
      margin: 0 0 0 5px;
      width: auto; // otherwise will look gigantic on chrome
    }

    textarea {
      resize: vertical;
    }

    #pre-upload-text {
      display: none;
    }
  }

  .experimental {
    color: darkorange;
    cursor: pointer;
  }

}

#tab-all {
}

#tab-config-xml {

  dl.dl-horizontal {
    dt {
      width: 20px;
    }
    dd {
      margin-left: 25px;
    }
  }

  .step {
    margin-bottom: 20px;

    .step-headline {
      margin-top: 2px;
      margin-bottom: 10px;

      .label-danger {
        margin-right: 5px;
      }

      ul.step-options {
        padding-left: 20px;
        margin-top: 5px;
      }
    }

  }

  #config-xml, #config-xml-2 {
    height: 150px;
  }

}

// media queries for bootstrap 3
/* @media(max-width:767px){} */
/* @media(min-width:768px){} */
/* @media(min-width:992px){} */
/* @media(min-width:1200px){} */
