$font-size: 14px;
$link-color: #008db6;

body {
  overflow-x: hidden;
  transition: all .2s;

  * {
    transition: background .8s;
  }
}

a {
  color: $link-color;
}

#page-header-wrapper {
  border: 0;
  border-radius: 0;
  /* background: #24292e; */
  background: #314b5d;
  border-bottom: 1px solid #314b5d;
  color: #eee;
  margin-bottom: 20px;
  transition: all .8s;
}

#page-header {
  padding: 16px;
  margin: 0;

  .logo {
    h2 {
      font-size: 36px;
      margin: 0;
      font-weight: bold;
      display: block;
      /* text-shadow: 2px 2px #111; */
    }

    .description {
      white-space: nowrap;
      display: block;
      color: #ddd;
      margin-top: 10px;
    }
  }
}

#page-header-docs {
  font-size: $font-size;
  margin: 8px 0 0 0;
  color: #bbb;

  a {
    margin: 0 0 0 8px;
    color: #eee;
    text-decoration: underline;

    &:hover {
      color: $link-color;
    }
  }
}

#theme {
    text-align: right;
    position: absolute;
    right: 5px;
    bottom: 5px;

    .theme-option {
        display: inline-block;
    }
}

#nav {
  padding: 0 20px;

  // make it smaller than originally in bootstrap
  > li > a {
    padding: 5px 10px;
  }
}

#github-banner, #github-banner * {
  z-index: 9999;
  img {
    width: 130px;
  }
}

#content {
  width: auto;
  padding: 0;
  margin: 0 0 30px 0;
}

#footer {
  border-top: 1px dashed #ccc;
  padding: 10px 0;
  margin: 0 10px 10px 10px;

  .thanks {
    .glyphicon {
      margin-left: 5px;
    }
  }

  .experimental {
    text-align: right;
    padding-right: 40px;
  }
}
@media(max-width:767px) {
  #footer {
    .thanks { text-align: center; }
    .experimental { text-align: center; }
  }
}

#options {
  margin-bottom: 15px;
  text-align: right;

  #options-actions {
    margin-bottom: 5px;
  }

  button {
    margin-bottom: 3px;

    .glyphicon {
      margin-right: 5px;
      display: none;
    }
    &.active .glyphicon { display: inline-block; }
  }
}

#menu {
  transition: all .8s;

  #menu-server {
    clear: both;
    margin-bottom: 10px;
  }

  #menu-inputs {
    clear: both;
    margin-top: 32px;

    .form-group {
      display: block;
      clear: both;

      .tip {
        font-size: $font-size;
        color: #888;
        margin-top: 3px;
        font-style: italic;

        &::before {
          content: '↘';
          margin-right: 5px;
        }
      }
    };

    input[type=checkbox] {
      margin: 0 0 0 5px;
      width: auto; // otherwise will look gigantic on chrome
    }

    textarea {
      resize: vertical;
    }

    #pre-upload-text {
      display: none;
    }
  }

  .experimental {
    color: darkorange;
    cursor: pointer;
  }

  label {
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 2px;
  }

}

#tab-all {
}

#tab-config-xml {

  dl.dl-horizontal {
    dt {
      width: 20px;
    }
    dd {
      margin-left: 25px;
    }
  }

  .step {
    margin-bottom: 20px;

    .step-headline {
      margin-top: 2px;
      margin-bottom: 10px;

      .label-danger {
        margin-right: 5px;
      }

      ul.step-options {
        padding-left: 20px;
        margin-top: 5px;
      }
    }

  }

  #config-xml, #config-xml-2 {
    height: 150px;
  }

}

.input-clean-title {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom-width: 1px;
  box-shadow: none;
  font-size: 13px;
  border-left: 3px solid #5CB85C; /* #C7254E; */

  &:focus {
    box-shadow: none;
  }
}

.section-title {
  font-size: 13px;
  padding: 2px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  color: #888;
  clear: both;
}

// media queries for bootstrap 3
/* @media(max-width:767px){} */
/* @media(min-width:768px){} */
/* @media(min-width:992px){} */
/* @media(min-width:1200px){} */

.form-control:focus {
  border-color: #54a0c6;
}

body.dark-theme {
  background: #111;
  color: #ddd;
  transition: all .8s;

  /* github gray: 24292e */

  #page-header-wrapper {
    background: #000;
    border-bottom: 1px solid #222;
    transition: all .8s;
  }

  #menu {
    transition: all .8s;

    input, textarea {
      background: #000;
      color: #ccc;
      border-color: #000;

      &:focus,
      &:active {
        box-shadow: none;
        border-color: #7b2d29; //#54a0c6;
      }
    }

    .input-clean-title {
      background-color: transparent;
    }
  }
}
