@import "application.scss";

.events-template {
  cursor: pointer;
  margin: 10px 0;

  code {
    font-size: 90%;
    padding: 2px 4px;
    background-color: #f6f6f6;
    white-space: pre-wrap;
    border: 0;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    color: #333;

    strong {
      // color: #C7254E;
      color: #357EBD;
    }

  }

  .event-name {
    text-align: center;
    background-color: #f6f6f6;
    font-size: 90%;
    border-bottom: 1px solid #ddd;
  }

  &.updated {
    .event-name, code {
      color: #EE5F5B;
      /* background: #F2DEDE; */
    }
  }
}

#input-event-out-content {
  resize: vertical;
  font-size: 90%;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  &.updated {
    color: #EE5F5B;
    /* background: #F2DEDE; */
  }
}

.event-out-content {
  margin-bottom: 5px;
}

.event-out-submit {
  float: right;
  margin: 0 0 10px 0;
  padding-top: 3px;
}

.event-out-pretty {
  float: left;
  margin: 0 0 10px 0;

  label {
    display: inline;
    font-weight: normal;
  }
  .form-control {
    display: inline;
    width: auto;
    margin: -2px 3px 0 0;
  }
}

#events-results {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }

  .events-result {
    padding: 5px 10px;
    margin: 0 0 10px 0;
    background: none;
    border: 0;
    border-radius: 0;

    &.received {
    }
    &.sent {
      .glyphicon {
        color: #5CB85C;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}

#menu-server {
  .connected-label {
    float: right;
    color: green;
  }

  .disconnected-label {
    float: right;
    color: red;
  }

  &.disconnected {
    .section-title { border-color: red; }
    .connected-label { display: none; }
    .disconnected-label { display: block; }
  }
  &.connected {
    .section-title { border-color: green; }
    .connected-label { display: block; }
    .disconnected-label { display: none; }
  }
}
