#page-header-wrapper {
  background: #f6f6f6;
  border-bottom: 1px solid darken(#f6f6f6, 7);
}

#page-header {
  padding: 10px 20px;
}

@media (max-width: 768px) {
  body, #page-header-wrapper, #content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}


#page-header {
  h1 {
    float: left;
  }

  .description {
    float: left;
    margin-top: 22px;
    margin-left: 20px;
    color: #666;
  }

  .notes {
    float: right;
    margin: 5px 100px 0 0;
    font-size: 12px;
    text-align: center;

    div {
      clear: both;
      &:first-child { margin-bottom: 5px; }
    }

    .icon {
      float: right;
      margin-left: 5px;
    }
  }
}

#content {
  width: auto;
  padding: 0 20px;
  margin: 0;
}

#api-mate-config {

  input[type='text'], textarea {
    width: 96%;
  }
  select {
    width: 100%;
  }

  #config-options {
    clear: both;
    margin-bottom: 15px;

    #config-options-buttons {
      float: right;
      button { margin-left: 10px; }
    }

    #config-options-view-type {
      float: left;
      white-space: nowrap;

      label {
        display: inline-block;
      }

      input {
        margin: -2px 5px 0 0;
      }
    }
  }

  #config-server {
    clear: both;
    margin-bottom: 15px;
  }

  #config-fields {
    clear: both;
  }
}

#api-mate-results {
  overflow: hidden;
  word-wrap: break-word;

  &.affix {
    width: 64%; // almost the same as bootstrap's .span8
    top: 0;
  }

  table.result-set {
    clear: both;

    td {
      width: 100%;
      white-space: nowrap;
      line-height: 18px;
      font-size: 12px;
      word-break: normal;
    }

    tr.url-standard {
    }
    tr.url-recordings {
      td { border-top-color: #ccc; }
      background: #eee;
    }
    tr.url-from-mobile {
      td { border-top-color: darken(#FCF8E3, 10); }
      background: #FCF8E3;
    }
    tr.url-mobile-api {
      td { border-top-color: darken(#D9EDF7, 10); }
      background: #D9EDF7;
    }

    .method-name {
      white-space: nowrap;
    }
  }
}

@media (max-width: 768px) {
  #api-mate-results {
    //position: static !important;
    width: 100% !important;
  }
}
