extends layout

append content

  a(href="https://github.com/mconf/api-mate")
    img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

  #page-header-wrapper.clearfix
    #page-header.clearfix
      h1 API Mate
      .description A tool to access the API of BigBlueButton and Mconf
      .notes
        div.about
          | Developed using
          a(href='https://github.com/mconf/bigbluebutton-api-js') bigbluebutton-api-js
        div.thanks
          i.icon.icon-thumbs-up
          = 'Thanks to Omar Shammas for '
          a(href='http://www.omarshammas.com/bbbapibuddy') the original API Buddy idea!

  .row-fluid#content
    .span4#api-mate-config

      #config-options.clearfix
        h4 Options
        #config-options-view-type
          div.btn-group(data-toggle="buttons-checkbox")
            button.btn.btn-small#view-type-input(type="button")
              i.icon-check
              | Full links
        #config-options-buttons
          button.api-mate-clearall.btn.btn-small.btn-danger(type='submit') Clear fields

      #config-server
        h4 Server
        input#input-custom-server-url(type='text', value='http://test-install.blindsidenetworks.com/bigbluebutton/api', placeholder='Url (e.g http://192.168.0.100:8080/bigbluebutton/api)')
        input#input-custom-server-salt(type='text', value='8cd8ef52e8e101574e400365b55e11a6', placeholder='Salt')
        input#input-custom-server-mobile-salt(type='text', value='03b07', placeholder='Mobile salt')

      #config-fields
        h4 Parameters
        //- common fields
        .field
          label(for='input-id')
            code meetingID
            = ' and '
            code recordID
          input#input-id(type='text')
        .field
          label(for='input-name')
            code name
          input#input-name(type='text')
        .field
          label(for='input-attendee-password')
            code attendeePW
          input#input-attendee-password(type='text', value='ap')
        .field
          label(for='input-moderator-password')
            code moderatorPW
          input#input-moderator-password(type='text', value='mp')
        .field
          label(for='input-fullname')
            code fullName
          input#input-fullname(type='text')
        .field
          label(for='input-welcome')
            code welcome
          textarea#input-welcome(rows='3')
            | <br>Welcome to <b>%%CONFNAME%%</b>!
        .field
          label(for='input-record')
            code record
          input#input-record(type='checkbox')

        //- 'advanced' fields
        .field
          label(for='input-voice-bridge')
            code voiceBridge
          input#input-voice-bridge(type='text')
        .field
          label(for='input-dial-number')
            code dialNumber
          input#input-dial-number(type='text')
        .field
          label(for='input-web-voice')
            code webVoice
          input#input-web-voice(type='text')
        .field
          label(for='input-logout-url')
            code logoutURL
          input#input-logout-url(type='text')
        .field
          label(for='input-max-participants')
            code maxParticipants
          input#input-max-participants(type='text')
        .field
          label(for='input-duration')
            code duration
          input#input-duration(type='text')
        .field
          label(for='input-user-id')
            code userID
          input#input-user-id(type='text')
        .field
          label(for='input-create-time')
            code createTime
          input#input-create-time(type='text')
        .field
          label(for='input-web-voice-conf')
            code webVoiceConf
          input#input-web-voice-conf(type='text')
        .field
          label(for='input-publish')
            code publish
          input#input-publish(type='checkbox')
        .field
          .tip attribute=value (one per line, without spaces)
          label(for='input-meta')
            code meta_*
          textarea#input-meta(rows='3', placeholder='myAttribute=1')
        .field
          .tip attribute=value (one per line, without spaces)
          label(for='input-custom')
            code custom_*
          textarea#input-custom(rows='3', placeholder='myCustomAttribute=Testing')

    .span8
      #api-mate-results
