$font-size: 14px;

body {
  overflow-x: hidden;
}

#page-header-wrapper {
  border: 0;
  border-radius: 0;
  //border-bottom: 1px solid darken(#f6f6f6, 10);
  background: #f6f6f6;
}

#page-header {
  padding: 15px 0;
  margin: 0;
}

#nav {
  padding: 0 20px;

  // make it smaller than originally in bootstrap
  > li > a {
    padding: 5px 10px;
  }
}

#github-banner, #github-banner * {
  z-index: 9999;
}

#page-header {
  h1 {
    float: left;
    font-weight: bold;
  }

  .logo {
    float: left;

    h1 {
      margin: 0;
      float: left;
      margin-right: 10px;
    }

    .description {
      float: left;
      margin-top: 16px;
      color: #888;
      white-space: nowrap;
    }

    .docs {
      float: left;
      clear: both;
      margin-top: 5px;
      font-size: $font-size;
      * {
        margin-right: 10px;
      }
    }
  }

  .notes {
    float: right;
    padding: 10px 110px 0 0;
    font-size: $font-size;
    text-align: center;

    div {
      clear: both;
      &:first-child { margin-bottom: 5px; }
    }

    .glyphicon {
      margin-left: 5px;
    }

    .thanks {
      font-size: $font-size - 1px;
    }
  }
}

#content {
  width: auto;
  padding: 0;
  margin: 0 0 30px 0;
}

#menu {

  #menu-options {
    clear: both;
    margin-bottom: 15px;

    #menu-options-buttons {
      float: left;
    }

    #menu-options-view-type {
      float: right;
      white-space: nowrap;

      label {
        display: inline-block;
      }

      input {
        margin: -2px 5px 0 0;
      }
    }

    #view-type-input {
      .glyphicon {
        margin-right: 5px;
        display: none;
      }
      &.active .glyphicon { display: inline-block; }
    }
  }

  #menu-server {
    clear: both;
    margin-bottom: 15px;
  }

  #menu-inputs
 {
    clear: both;

    .form-group {
      display: block;
      clear: both;

      .tip {
        float: right;
        font-size: $font-size;
        color: #888;
        margin-top: 3px;
        font-style: italic;
      }

      label {
        font-weight: normal;
      }
    }

    input[type=checkbox] {
      margin: 0 0 0 5px;
      width: auto; // otherwise will look gigantic on chrome
    }

    textarea {
      resize: vertical;
    }

    #pre-upload-text {
      display: none;
    }
  }

  .panel {
    border: 0;
    box-shadow: none;

    .panel-collapse {
      padding: 10px;
    }

    .panel-heading {
      padding: 5px;
      a { display: block; }
    }
  }

  .experimental {
    color: darkorange;
    cursor: pointer;
  }

}

#tab-all {

  #api-mate-results {
    overflow: hidden;
    word-wrap: break-word;

    .result-set {
      clear: both;

      .result-link-wrapper {
        clear: both;
        width: 100%;
        border-top: 1px solid #eee;
        padding: 2px;
      }

      .result-link {
        padding: 2px 5px;
        border-left: 7px solid #3A87AD;
        white-space: nowrap;
        line-height: 18px;
        font-size: $font-size - 1px;
        word-break: normal;

        .label {
          float: left;
          font-size: $font-size - 4px;
          margin: 2px 5px 0 0;

          &.disabled {
            opacity: 0.5;
            background: #888;
          }
        }

        &.expanded {
          word-break: break-all;
          white-space: normal;
          padding: 5px;
          .method-name {
            display: block;
            margin-bottom: 5px;
          }
        }

      }

      .url-standard {
        border-color: #3A87AD;
        .label {
          background: lighten(#3A87AD, 10);
        }
      }
      .url-recordings {
        border-color: #468847;
        .label {
          background: lighten(#468847, 10);
        }
      }
      .url-from-mobile {
        border-color: #f89406;
        .label {
          background: lighten(#f89406, 10);
        }
      }
      .url-mobile-api {
        border-color: lighten(#f89406, 15);
        .label {
          background: lighten(#f89406, 25);
        }
      }
      .url-custom-call {
        border-color: #B94A48;
        .label {
          background: lighten(#B94A48, 10);
        }
      }

      .method-name {
        white-space: nowrap;
      }
    }

    &.updated {
      .result-title {
        color: #EE5F5B;
      }
      .result-link {
        border-color: #EE5F5B;
        .label { background: #EE5F5B; }
      }
    }

  }
}

#tab-config-xml {

  dl.dl-horizontal {
    dt {
      width: 20px;
    }
    dd {
      margin-left: 25px;
    }
  }

  .step {
    margin-bottom: 20px;

    .step-headline {
      margin-top: 2px;
      margin-bottom: 10px;

      .label-danger {
        margin-right: 5px;
      }

      ul.step-options {
        padding-left: 20px;
        margin-top: 5px;
      }
    }

  }

  #config-xml, #config-xml-2 {
    height: 150px;
  }

}
