extends layout

append content

  #github-banner
    a(href="https://github.com/mconf/api-mate")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

  header#page-header-wrapper.navbar
    #page-header.row
      .col-sm-7.logo
        h1 API Mate
        .description
          | A tool to access the API of BigBlueButton and Mconf
        .docs
          span
            | API docs:
          a(href='http://code.google.com/p/bigbluebutton/wiki/API') BigBlueButton
          a(href='https://github.com/mconf/wiki/wiki/Mconf-Live-API-Changes') Mconf-Live
      .col-sm-5.notes
        .about
          = 'Developed using '
          a(href='https://github.com/mconf/bigbluebutton-api-js') bigbluebutton-api-js
        .thanks
          = 'Thanks to Omar Shammas for '
          a(href='http://www.omarshammas.com/bbbapibuddy') the original API Buddy idea!
          i.glyphicon.glyphicon-thumbs-up

  #content.row
    #api-mate-config.col-sm-4

      #config-options.clearfix
        #config-options-view-type
          div.btn-group(data-toggle="buttons-checkbox")
            button.btn.btn-default.btn-sm#view-type-input(type="button")
              i.glyphicon.glyphicon-check
              | Show full links
        #config-options-buttons
          button.api-mate-clearall.btn.btn-sm.btn-danger(type='submit') Clear fields

      #config-server

        .panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", href="#config-server-1") Server
            #config-server-1.panel-collapse.collapse.in
              .form-group
                input#input-custom-server-url.form-control.input-sm.input-sm(type='text', value='http://test-install.blindsidenetworks.com/bigbluebutton/api', placeholder='Url (e.g http://192.168.0.100:8080/bigbluebutton/api)')
              .form-group
                input#input-custom-server-salt.form-control.input-sm(type='text', value='8cd8ef52e8e101574e400365b55e11a6', placeholder='Salt')
              .form-group
                input#input-custom-server-mobile-salt.form-control.input-sm(type='text', value='03b07', placeholder='Mobile salt')

      #config-fields
        .panel-group#accordion

          //- common fields
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#config-panel-1") Basic URL parameters
            #config-panel-1.panel-collapse.collapse.in
              .form-group
                label(for='input-id')
                  code meetingID
                  = ' and '
                  code recordID
                input#input-id.form-control.input-sm(type='text')
              .form-group
                label(for='input-name')
                  code name
                input#input-name.form-control.input-sm(type='text')
              .form-group
                label(for='input-attendee-password')
                  code attendeePW
                input#input-attendee-password.form-control.input-sm(type='text', value='ap')
              .form-group
                label(for='input-moderator-password')
                  code moderatorPW
                input#input-moderator-password.form-control.input-sm(type='text', value='mp')
              .form-group
                label(for='input-fullname')
                  code fullName
                input#input-fullname.form-control.input-sm(type='text')
              .form-group
                label(for='input-welcome')
                  code welcome
                textarea#input-welcome.form-control.input-sm(rows='3')
                  | <br>Welcome to <b>%%CONFNAME%%</b>!
              .form-group
                label(for='input-record')
                  code record
                input#input-record.form-control.input-sm(type='checkbox')
              .form-group
                label(for='input-voice-bridge')
                  code voiceBridge
                input#input-voice-bridge.form-control.input-sm(type='text')

          //- 'advanced' fields
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#config-panel-2") Other URL parameters
            #config-panel-2.panel-collapse.collapse
              .form-group
                label(for='input-dial-number')
                  code dialNumber
                input#input-dial-number.form-control.input-sm(type='text')
              .form-group
                label(for='input-web-voice')
                  code webVoice
                input#input-web-voice.form-control.input-sm(type='text')
              .form-group
                label(for='input-logout-url')
                  code logoutURL
                input#input-logout-url.form-control.input-sm(type='text')
              .form-group
                label(for='input-max-participants')
                  code maxParticipants
                input#input-max-participants.form-control.input-sm(type='text')
              .form-group
                label(for='input-duration')
                  code duration
                input#input-duration.form-control.input-sm(type='text')
              .form-group
                label(for='input-user-id')
                  code userID
                input#input-user-id.form-control.input-sm(type='text')
              .form-group
                label(for='input-create-time')
                  code createTime
                input#input-create-time.form-control.input-sm(type='text')
              .form-group
                label(for='input-web-voice-conf')
                  code webVoiceConf
                input#input-web-voice-conf.form-control.input-sm(type='text')
              .form-group
                label(for='input-publish')
                  code publish
                input#input-publish.form-control.input-sm(type='checkbox')
              .form-group
                label(for='input-redirect-client')
                  code redirectClient
                input#input-redirect-client.form-control.input-sm(type='text')
              .form-group
                label(for='input-client-url')
                  code clientURL
                input#input-client-url.form-control.input-sm(type='text')
              .form-group
                label(for='input-config-token')
                  code configToken
                input#input-config-token.form-control.input-sm(type='text')
              .form-group
                label(for='input-avatar-url')
                  code avatarURL
                input#input-avatar-url.form-control.input-sm(type='text')
              .form-group
                label(for='input-meta')
                  code meta_*
                .tip attribute=value (one per line, without spaces)
                textarea#input-meta.form-control.input-sm(rows='3', placeholder='myAttribute=1')

          //- post data
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#config-panel-3") POST Data
            #config-panel-3.panel-collapse.collapse
              .form-group
                label
                  | Pre-upload for
                  code create
                  | via
                  code POST
                .tip Accepts multiple URLs, one per line
                textarea.form-control.input-sm#input-pre-upload-url(type='text', placeholder='http://my-server/sample.pdf')

          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#config-panel-4") Custom parameters
            #config-panel-4.panel-collapse.collapse
              .form-group
                label(for='input-custom')
                  | Custom parameters:
                .tip attribute=value (one per line, without spaces)
                textarea#input-custom.form-control.input-sm(rows='3', placeholder='myCustomAttribute=Testing')
              .form-group
                .tip One call name per line
                label(for='input-custom')
                  | Custom API calls:
                textarea#input-custom-calls.form-control.input-sm(rows='3', placeholder='customApiCall')

    .col-sm-8
      #api-mate-results

    #post-response-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header.alert
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
              &times;
            h4 Response
          .modal-body
