!!! 5
html(lang="en")
  head
    title API Mate
    link(href="vendor/bootstrap.min.css", media="all", rel="stylesheet", type="text/css")
    link(href="vendor/bootstrap-responsive.min.css", media="all", rel="stylesheet", type="text/css")
    link(href="api_mate.css", media="all", rel="stylesheet", type="text/css")
  body
    #content-wrapper
      block content

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript", src="vendor/bootstrap.min.js")
    script(type="text/javascript", src="vendor/underscore-min.js")
    script(type="text/javascript", src="vendor/mustache.js")
    script(type="text/javascript", src="vendor/crypto-sha1-2.5.3.js")
    script(type="text/javascript", src="vendor/bigbluebutton-api.js")
    script(type="text/javascript", src="api_mate.js")
